{{ define "body-class" }}template-404{{ end }}

{{ define "main" }}
<div class="error-404">
    <h1 class="glitch" data-text="404">404</h1>
    <p class="error-message">页面消失在赛博空间里了</p>

    {{- $query := first 1 (where .Site.Pages "Layout" "==" "search") -}}
    {{- $searchPage := index $query 0 -}}
    {{- with $searchPage -}}
        <form action="{{ .RelPermalink }}" class="search-form widget" {{ with $.OutputFormats.Get "json" -}}data-json="{{ .RelPermalink }}" {{- end }}>
            <p>
                <label>搜索看看？</label>
                <input id="searchInput" name="keyword" required placeholder="{{ T `search.placeholder` }}" />
                <button title="{{ T `search.title` }}">{{ partial "helper/icon" "search" }}</button>
            </p>
        </form>
    {{- end -}}

    <a href="{{ .Site.Home.RelPermalink }}" class="error-back">← 回到首页</a>
</div>

{{ partialCached "footer/footer" . }}
{{ end }}
